*{
  padding: 0;
  margin: 0;
}

body{
  background-color: #a9f1df;
  position: relative;
}

.container{
  background-color: #00ead3;
  display: flex;
  justify-content: center;
  width: 50vw;
  height: 60vh;
  margin: auto;
  margin-top: 10%;
}


.text{
  text-align: center;
  margin: 10% 0;
  font-size: 3.5rem;
}

.room_name{
  display: block;
  margin: auto;
  line-height: 2.5rem;
  font-size: 2rem;
  text-align: center;
  margin-top:10%;
  margin-bottom: 10%;
  border-radius: 20px;
  outline: none;
}

.join_btn{
  display: block;
  margin: auto;
  width: 35%;
  padding: 10px 30px;
  font-size: 2rem;
  border: 2px solid blue;
  border-radius: 50px;
  cursor: pointer;
}

.local-video{
  position: absolute;
  z-index: 1;
  width: 200px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}

.remote-video{
  position: fixed;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.buttons-position{
  display: none;
  justify-content: center;
}

.hide{
  display: none;
}

.unhide{
  display: flex;
}

.buttons{
  position: fixed;
  bottom: 35px;

}

.call-end{
  text-align: center;
  margin-bottom: 50px;
}

.end{
  background-color: red;
  padding: 15px;
  border-radius: 28px;
  color: white;
}

.end:hover{
  background-color: #f4f3f3;
  color: black;
  cursor: pointer;
}

.icon{
  padding: 10px;
  margin: 0 20px 0 20px;
  color: white;
  font-size: 2rem;
  border-radius: 25px;
}

.icon:hover{
  background-color: #bbbbbb;
  cursor: pointer;
}


@media (max-width: 620px) {
  .container{
    width: 100vw;
    height: 100vh;
    margin: 0;
  }

  .room_name{
    width: 90%;
  }

  .text{
    margin-top: 30%;
    font-size: 3rem;
  }
  .join_btn{
    padding: 5px 30px;
  }

  .local-video{
    width: 100px;
    height: 100px;
  }

}
