*{
  padding: 0;
  margin: 0;
}

body{
  background-color: #a9f1df;
  position: relative;
}
.container{
  background-color: #00ead3;
  display: flex;
  justify-content: center;
  width: 50vw;
  height: 60vh;
  margin: auto;
  margin-top: 10%;
}


.text{
  text-align: center;
  margin: 10% 0;
  font-size: 3.5rem;
}

.room_name{
  display: block;
  margin: auto;
  line-height: 2.5rem;
  font-size: 2rem;
  text-align: center;
  margin-top:10%;
  margin-bottom: 10%;
  border-radius: 20px;
  outline: none;
}

.join_btn{
  display: block;
  margin: auto;
  width: 35%;
  padding: 10px 30px;
  font-size: 2rem;
  border: 2px solid blue;
  border-radius: 50px;
}

.local-video{
  position: absolute;
  width: 200px;
  height: 150px;
  z-index: 1;
}

.remote-video{
  position: fixed;
  width: 100%;
  min-height: 100vh;
}

@media (max-width: 620px) {
  .container{
    width: 100vw;
    height: 100vh;
    margin: 0;
  }

  .room_name{
    width: 90%;
  }

  .text{
    margin-top: 30%;
    font-size: 3rem;
  }
  .join_btn{
    padding: 5px 30px;
  }

  .local-video{
    width: 100px;
    height: 75px;
  }

}
